@model CurrencyConverter.Models.CurrencyConverterModel
@{
    ViewBag.Title = "Currency Converter";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">@ViewBag.Title</h2>
        </div>
    </div>
</div>

<p class="bg-danger" id="ValidationError"></p>

@using (Html.BeginForm("CurrencyConverter", "Currency", FormMethod.Post, new { id = "currencyConverterForm" }))
{
    <div class="container">
        <div class="row mar">
            <div class="col-md-2">
                @Html.LabelFor(x => x.CurrencyFrom, "From Currency")
            </div>
            <div class="col-md-2">
                @Html.DropDownList("CurrencyFrom", ViewBag.AvailableCurrencies as SelectList, "-Select-")
            </div>
            <div class="col-md-2">
                @Html.LabelFor(x => x.Amount, "Amount")
            </div>
            <div class="col-md-2">
                @Html.TextBoxFor(x => x.Amount)
            </div>
        </div>
        <div class="row mar">
            <div class="col-md-2">
                @Html.LabelFor(x => x.CurrencyTo, "To Currency")
            </div>
            <div class="col-md-2">
                @Html.DropDownList("CurrencyTo", ViewBag.AvailableCurrencies as SelectList, "-Select-")
            </div>
            <div class="col-md-2">
                @Html.LabelFor(x => x.ConvertedAmount, "Result")
            </div>
            <div class="col-md-2">
                @Html.TextBoxFor(x => x.ConvertedAmount, new { @readonly = "readonly", id = "ConvertedAmount" })
            </div>
        </div>
        <div class="row mar">
            <div class="col-md-2">
                <label for="targetDate">Date:</label>
            </div>
            <div class="col-md-3">
                <input type="date" id="targetDate" name="Date" value="" required />
            </div>
        </div>
        <div class="row mar">
            <div class="col-md-3">
                <input class="btn btn-default btn-sm" onclick="submitForm()" value="Convert" />
            </div>
        </div>
    </div>


}

<script>
    function submitForm() {
        $("#ConvertedAmount").val(null)
        $("#ValidationError").html("");
        jQuery.ajax({
                        url: '@Url.Action("CurrencyConverter", "Currency")',
                        type: 'POST',
                        data: $('#currencyConverterForm').serialize(),
             success: function (data) {
                 if (data.Errors) {
                     $("#ValidationError").html(data.Errors.join('</br>'));
                 } else {
                     $("#ConvertedAmount").val(data.Result);
                 }
                        },
                        error: function (data) {
                            alert("Something went wrong.");
                        }
                    })
    }
</script>
